.ff{
    width: 800px;
    height: 250px;
}
.c{
    background: linear-gradient(60deg,dodgerblue,lightgreen) ;
    box-shadow:0 0 20px purple ;
}
h4{
    margin-top: 20px;
    color: white;
}
p{
    color: white;
}
.kk{
  border-radius: 30px;
    margin-left: 40%;
    margin-bottom: 50px;

}
body{
    background: dodgerblue;
}